.banner
  padding-top 10px
  padding-bottom 20px
  opacity 0.8
  line-height 40px

  +below(950px)
    line-height 35px

  p
    color #fff
    font-family "Courier"
    font-size 20px
    margin 10px 0 0 10px
    overflow hidden

    +below(460px)
      font-size 15px

    a
      color lime
      text-decoration none

  span
    animation blink 1s infinite

@keyframes blink
  to
    opacity .0

::selection
  background #000
