.form-interaction-example
    cf()

    .tips
      padding 5px

    ul.filter
      cf()
      margin-bottom 15px
      li
        min-width 100px
        border 1px solid #ccc
        float left
        padding 5px
        text-align center
        margin-right 10px
        cursor pointer
        +below(520px)
          min-width 80px
        +mobile()
          min-width 80px
        &:first-child
          border none
          min-width 50px
          text-align left
          font-weight bold
          &:hover
          &.active
            background-color #fff
          +below(520px)
            width 380px
            max-width 380px
          +mobile()
            width 380px
            max-width 380px
        &:hover
        &.active
          background-color #eee


    .autosuggest-component
      background-color #eee
      padding 15px
      border 1px solid #ccc
      input
      width 90%

      input
        width 100%

      +mobile()
        background-color transparent
        border none
        padding-left 0
        margin-bottom -20px

    .event-input-container
        margin-top  15px
        padding 10px 15px 10px 10px
        border  1px solid #ccc
        width   340px
        background-color    #eee
        col(2/8)
        +below(800px)
            col(1)
            stack()
            max-width   340px
            float   left
        +mobile()
          width 94%

    .events
        col(5/8)
        +below(800px)
            col(1)
            stack()

        .list-enter
            opacity 0.01
            transform   translate(-250px,0)
            transform   translate3d(-250px,0,0)

        .list-enter-active
            opacity 1
            transform   translate(0,0)
            transform translate3d(0,0,0)
            transition-property transform, opacity
            transition-duration 300ms
            transition-timing-function cubic-bezier(0.175, 0.665, 0.320, 1), linear

        .list-leave
            opacity 1
            transform   translate(0,0,0)
            transform translate3d(0,0,0)
            transition-property transform, opacity
            transition-duration 300ms
            transition-timing-function cubic-bezier(0.175, 0.665, 0.320, 1), linear

        .list-leave-active
            opacity 0.01
            transform   translate(250px,0)
            transform translate3d(250px,0,0)

    h3.title
        display   inline-block
        padding   5px
        margin-top    5px

    .errors
        padding-bottom  10px
        color   red
        .error
            padding-top 5px
            padding-bottom  5px

    [name="title"]
    [name="description"]
    .submit
        display block
        margin-bottom  15px
        float left

    [name="title"]
        col(1)

    [name="description"]
        height  100px
        col(1)

    .in-error
        border-color    tomato

    .list
        cf()
        center()
        .item
            margin-bottom   15px
            textarea.content
                width   95%
                border  none
                height  150px
                resize  none

            .header
                margin-bottom 0
                padding    5px
                border 1px solid #3a5795
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color    #3a5795
                color   #eee

            .content-wrapper
                border-left 1px solid #ccc
                border-right    1px solid #ccc
                margin-top -15px

            .content
                opacity 0.5
                padding 5px
                &.editing
                    background-color    #fff
            .actions
                background-color    #ccc
                padding 5px

                svg
                    height  22px
                    width   22px

            +mobile()
                col(1)
            +tablet()
                col(1/2, cycle: 2)
            +desktop()
                col(1/3, uncycle: 2, cycle: 3)
            +below(500px)
                col(1, uncycle: 3)
