@import 'nib'
@import 'jeet'

@import './banner'
@import './form-interaction-example'
@import './generic-content'

global-reset()

html
  height 102%
  overflow-y scroll

strong
  font-weight bold

body
    +below(1050px)
        margin-left     10px
        margin-right    20px

h1
h2
    font-family Helvetica,Arial,sans-serif
    font-weight bold
    padding-bottom  15px
    padding-top 15px
    vertical-align baseline

h1
  font-size 1.5em


#container
    center(1040px)
    margin-top  15px

    .header
        cf()
        background url(../assets/images/bg_pattern.png)
        margin-bottom   15px
        .logo-container
          col(3/12)
          width   140px
          background #fff
          opacity 0.2
          padding 10px
        .logo
            fill #bbb

        .banner
            col(9/12)
            float right
            +below(660px)
              col(1)

    .container
      cf()
      margin-top  15px

      .page-content
        col(6/8)
        +below(667px)
          margin-left  15px
          width 100%
        .section
          margin-bottom 15px

        .intro
        .aboutme
          line-height 25px
          position relative
          padding  15px

          p
            margin-top  15px

          &:after
            content: "";
            background url(../assets/images/wac.jpg)
            opacity 0.2
            background-size cover
            top 0
            left 0
            bottom 0
            right 0
            position absolute
            z-index -1

    .nav
        col(2/8)

        +below(667px)
          stack()
          margin-top  -18px
          padding-top 10px
          margin-bottom 10px

        a
          border-bottom  2px dashed tomato
          display block
          padding-left 5px
          color   #ccc
          text-decoration none
          padding 5px 8px
          width  100%
          svg
          span  
            display inline-block
          svg
            height 30px
            width 30px
            fill #ccc

          span
            position  relative
            top  -10px
            margin-left  10px

          &.active
          &:hover
            color tomato
            svg
              fill tomato

          &.active
            cursor default


footer
    line-height 25px
    margin-top  15px
    margin-bottom   10px
    padding-top 15px
    border-top  2px solid black
