@import 'nib'
@import 'jeet'

global-reset()

body
    +below(1050px)
        margin-left     10px
        margin-right    20px

h1
    font-size 1.5em
    margin 15px 0            

.aboutme
    line-height 25px
    p
        margin-top  15px

#container
    center(1040px)
    margin-top  15px
    
    .header
        cf()
        margin-bottom   15px
        .logo
            col(2/5)
            min-width   80px
            +below(500px)
                fill    #3a5795
        .nav
            col(3/5)
            a
                display inline-block
                margin-left 5px
                background-color    black
                color   #fff
                text-decoration none
                padding 5px 8px
                float   right
            
                &:hover
                    background-color    #ddd
   
    .page-content
        margin-top  15px
        border-top  2px solid black
        cf()

    .event-input-container
        margin-top  15px
        padding 10px 15px 10px 10px
        border  1px solid #ccc
        width   340px
        background-color    #eee
        col(2/8)
        +below(800px)
            col(1)
            stack()
            max-width   340px
            float   left

    .events
        col(5/8)
        +below(800px)
            col(1)
            stack()

    h3.title
        background-color #fff
        display   inline-block
        padding   5px
        margin-top    5px
                
    .errors
        padding-bottom  10px
        color   red
        .error
            padding-top 5px
            padding-bottom  5px

    [name="title"]
    [name="description"]
    .submit
        display block
        margin-bottom  15px

    [name="title"]
        col(1)

    [name="description"]
        height  100px
        col(1)

    .in-error
        border-color    tomato

    .list
        cf()
        center()
        .item
            margin-bottom   15px
            .header
                margin-bottom 0
                padding    5px
                border 1px solid #3a5795
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color    #3a5795
                color   #fff
            .content
                background-color    #ddd
                opacity 0.5
                padding 5px
                border-left 1px solid #ccc
                border-right    1px solid #ccc
                word-wrap   break-word
                &.editing
                    background-color    #fff
            .actions
                background-color    #ccc
                padding 5px
                
                a
                    display inline-block
                    margin-right    10px
                    font-size   0.9em
                    background-color    #f07d00
                    padding 7px 5px 4px
                    color   #fff
                    text-decoration none
                    border 2px solid #ddd
                    
                    &:hover
                        color   #ccc
 
            +mobile()
                col(1)
            +tablet()
                col(1/2, cycle: 2)
            +desktop()
                col(1/3, uncycle: 2, cycle: 3)
            +below(500px)
                col(1, uncycle: 3)

footer
    margin-top  15px
    margin-bottom   10px
    padding-top 15px
    border-top  2px solid black
