@import 'nib'
@import 'jeet'

global-reset()

body
    +below(1050px)
        margin-left     10px
        margin-right    20px

h1
    font-size 1.5em
    margin 15px 0            

#container
    center(1040px)
    margin-top  15px

    .header
        cf()
        margin-bottom   15px
        .logo
            col(2/5)
            min-width   80px
            +below(500px)
                fill    #3a5795
        .nav
            col(3/5)
            a
                display inline-block
                margin-left 5px
                background-color    black
                color   #fff
                text-decoration none
                padding 5px 8px
                float   right
            
                &:hover
                    background-color    #ddd
   
    .page-content
        margin-top  15px
        border-top  2px solid black
        cf()

        .aboutme
            line-height 25px
            p
                margin-top  15px

    .event-input-container
        margin-top  15px
        padding 10px 15px 10px 10px
        border  1px solid #ccc
        width   340px
        background-color    #eee
        col(2/8)
        +below(800px)
            col(1)
            stack()
            max-width   340px
            float   left

    .events
        col(5/8)
        +below(800px)
            col(1)
            stack()

        .list-enter
            opacity 0.01
            transition opacity .5s ease-in

        .list-enter-active
            opacity 1

        .list-leave
            opacity 1
            transition opacity .5s ease-in

        .list-leave-active
            opacity 0.01

    h3.title
        background-color #fff
        display   inline-block
        padding   5px
        margin-top    5px
                
    .errors
        padding-bottom  10px
        color   red
        .error
            padding-top 5px
            padding-bottom  5px

    [name="title"]
    [name="description"]
    .submit
        display block
        margin-bottom  15px

    [name="title"]
        col(1)

    [name="description"]
        height  100px
        col(1)

    .in-error
        border-color    tomato

    .list
        cf()
        center()
        .item
            margin-bottom   15px
            textarea.content
                width 95%
                border  none
                height  150px
                
            .header
                margin-bottom 0
                padding    5px
                border 1px solid #3a5795
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color    #3a5795
                color   #fff
            
            .content-wrapper
                border-left 1px solid #ccc
                border-right    1px solid #ccc

            .content
                opacity 0.5
                padding 5px
                &.editing
                    background-color    #fff
            .actions
                background-color    #ccc
                padding 5px

                svg
                    height  22px
                    width   22px
 
            +mobile()
                col(1)
            +tablet()
                col(1/2, cycle: 2)
            +desktop()
                col(1/3, uncycle: 2, cycle: 3)
            +below(500px)
                col(1, uncycle: 3)

footer
    line-height 25px
    margin-top  15px
    margin-bottom   10px
    padding-top 15px
    border-top  2px solid black
